In [2]:
import pandas as pd
df=pd.read_csv("videosUS.csv")

In [3]:
print(df)

          video_id trending_date  \
0      2kyS6SvSYSE      17.14.11
1      1ZAPwfrtAFY      17.14.11
2      5qpjK5DgCt4      17.14.11
3      puqaWrEC7tY      17.14.11
4      d380meD0W0M      17.14.11
...            ...           ...
41410  BZt0qjTWNhw      18.14.06
41411  1h7KV2sjUWY      18.14.06
41412  D6Oy4LfoqsU      18.14.06
41413  oV0zkMe1K8s      18.14.06
41414  ooyjaVdt-jA      18.14.06

                                                   title  \
0                     WE WANT TO TALK ABOUT OUR MARRIAGE
1      The Trump Presidency: Last Week Tonight with J...
2      Racist Superman | Rudy Mancuso, King Bach & Le...
3                       Nickelback Lyrics: Real or Fake?
4                               I Dare You: GOING BALD!?
...                                                  ...
41410                       The Cat Who Caught the Laser
41411                         True Facts : Ant Mutualism
41412  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
41413                How Black Panther Should Have Ended
41414  Official Call of Duty®: Black Ops 4 — Multipla...

                  channel_title  category_id              publish_time  \
0                  CaseyNeistat         22.0  2017-11-13T17:13:01.000Z
1               LastWeekTonight         24.0  2017-11-13T07:30:00.000Z
2                  Rudy Mancuso         23.0  2017-11-12T19:05:24.000Z
3         Good Mythical Morning         24.0  2017-11-13T11:00:04.000Z
4                      nigahiga         24.0  2017-11-12T18:01:41.000Z
...                         ...          ...                       ...
41410             AaronsAnimals         15.0  2018-05-18T13:00:04.000Z
41411                  zefrank1         22.0  2018-05-18T01:00:06.000Z
41412                Brad Mondo         24.0  2018-05-18T17:34:22.000Z
41413  How It Should Have Ended          1.0  2018-05-17T17:00:04.000Z
41414              Call of Duty         20.0  2018-05-17T17:09:38.000Z

                                                    tags       views  \
0                                        SHANtell martin    748374.0
1      last week tonight trump presidency|"last week ...   2418783.0
2      racist superman|"rudy"|"mancuso"|"king"|"bach"...   3191434.0
3      rhett and link|"gmm"|"good mythical morning"|"...    343168.0
4      ryan|"higa"|"higatv"|"nigahiga"|"i dare you"|"...   2095731.0
...                                                  ...         ...
41410  aarons animals|"aarons"|"animals"|"cat"|"cats"...   1685609.0
41411                                             [none]   1064798.0
41412  I gave safiya nygaard a perfect hair makeover ...   1066451.0
41413  Black Panther|"HISHE"|"Marvel"|"Infinity War"|...   5660813.0
41414      call of duty|"cod"|"activision"|"Black Ops 4"  10306119.0

          likes  dislikes  comment_count  \
0       57527.0    2966.0        15954.0
1       97185.0    6146.0        12703.0
2      146033.0    5339.0         8181.0
3       10172.0     666.0         2146.0
4      132235.0    1989.0        17518.0
...         ...       ...            ...
41410   38160.0    1385.0         2657.0
41411   60008.0     382.0         3936.0
41412   48068.0    1032.0         3992.0
41413  192957.0    2846.0        13088.0
41414  357079.0  212976.0       144795.0

                                       thumbnail_link comments_disabled  \
0      https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg             False
1      https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg             False
2      https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg             False
3      https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg             False
4      https://i.ytimg.com/vi/d380meD0W0M/default.jpg             False
...                                               ...               ...
41410  https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg             False
41411  https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg             False
41412  https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg             False
41413  https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg             False
41414  https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg             False

      ratings_disabled video_error_or_removed  \
0                False                  False
1                False                  False
2                False                  False
3                False                  False
4                False                  False
...                ...                    ...
41410            False                  False
41411            False                  False
41412            False                  False
41413            False                  False
41414            False                  False

                                             description
0      SHANTELL'S CHANNEL - https://www.youtube.com/s...
1      One year after the presidential election, John...
2      WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3      Today we find out if Link is a Nickelback amat...
4      I know it's been a while since we did this sho...
...                                                  ...
41410     The Cat Who Caught the Laser - Aaron's Animals
41411                                                NaN
41412  I had so much fun transforming Safiyas hair in...
41413  How Black Panther Should Have EndedWatch More ...
41414  Call of Duty: Black Ops 4 Multiplayer raises t...

[41415 rows x 16 columns]

In [4]:
df.isna()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41410,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41411,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
41412,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41413,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41414,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
print (df.isnull().sum()) 
#Listwise deletion: df.dropna(inplace=true) 
# the first is not valide and the third is not valide

video_id                     0
trending_date              466
title                      466
channel_title              466
category_id                466
publish_time               466
tags                       466
views                      466
likes                      466
dislikes                   466
comment_count              466
thumbnail_link             466
comments_disabled          466
ratings_disabled           466
video_error_or_removed     466
description               1036
dtype: int64

In [6]:
df.dropna(inplace=True)
print(df)

          video_id trending_date  \
0      2kyS6SvSYSE      17.14.11
1      1ZAPwfrtAFY      17.14.11
2      5qpjK5DgCt4      17.14.11
3      puqaWrEC7tY      17.14.11
4      d380meD0W0M      17.14.11
...            ...           ...
41409  1PhPYr_9zRY      18.14.06
41410  BZt0qjTWNhw      18.14.06
41412  D6Oy4LfoqsU      18.14.06
41413  oV0zkMe1K8s      18.14.06
41414  ooyjaVdt-jA      18.14.06

                                                   title  \
0                     WE WANT TO TALK ABOUT OUR MARRIAGE
1      The Trump Presidency: Last Week Tonight with J...
2      Racist Superman | Rudy Mancuso, King Bach & Le...
3                       Nickelback Lyrics: Real or Fake?
4                               I Dare You: GOING BALD!?
...                                                  ...
41409  BTS Plays With Puppies While Answering Fan Que...
41410                       The Cat Who Caught the Laser
41412  I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
41413                How Black Panther Should Have Ended
41414  Official Call of Duty®: Black Ops 4 — Multipla...

                  channel_title  category_id              publish_time  \
0                  CaseyNeistat         22.0  2017-11-13T17:13:01.000Z
1               LastWeekTonight         24.0  2017-11-13T07:30:00.000Z
2                  Rudy Mancuso         23.0  2017-11-12T19:05:24.000Z
3         Good Mythical Morning         24.0  2017-11-13T11:00:04.000Z
4                      nigahiga         24.0  2017-11-12T18:01:41.000Z
...                         ...          ...                       ...
41409            BuzzFeed Celeb         22.0  2018-05-18T16:39:29.000Z
41410             AaronsAnimals         15.0  2018-05-18T13:00:04.000Z
41412                Brad Mondo         24.0  2018-05-18T17:34:22.000Z
41413  How It Should Have Ended          1.0  2018-05-17T17:00:04.000Z
41414              Call of Duty         20.0  2018-05-17T17:09:38.000Z

                                                    tags       views  \
0                                        SHANtell martin    748374.0
1      last week tonight trump presidency|"last week ...   2418783.0
2      racist superman|"rudy"|"mancuso"|"king"|"bach"...   3191434.0
3      rhett and link|"gmm"|"good mythical morning"|"...    343168.0
4      ryan|"higa"|"higatv"|"nigahiga"|"i dare you"|"...   2095731.0
...                                                  ...         ...
41409  BuzzFeed|"BuzzFeedVideo"|"Puppy Interview"|"pu...   8259128.0
41410  aarons animals|"aarons"|"animals"|"cat"|"cats"...   1685609.0
41412  I gave safiya nygaard a perfect hair makeover ...   1066451.0
41413  Black Panther|"HISHE"|"Marvel"|"Infinity War"|...   5660813.0
41414      call of duty|"cod"|"activision"|"Black Ops 4"  10306119.0

          likes  dislikes  comment_count  \
0       57527.0    2966.0        15954.0
1       97185.0    6146.0        12703.0
2      146033.0    5339.0         8181.0
3       10172.0     666.0         2146.0
4      132235.0    1989.0        17518.0
...         ...       ...            ...
41409  645888.0    4052.0        62610.0
41410   38160.0    1385.0         2657.0
41412   48068.0    1032.0         3992.0
41413  192957.0    2846.0        13088.0
41414  357079.0  212976.0       144795.0

                                       thumbnail_link comments_disabled  \
0      https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg             False
1      https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg             False
2      https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg             False
3      https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg             False
4      https://i.ytimg.com/vi/d380meD0W0M/default.jpg             False
...                                               ...               ...
41409  https://i.ytimg.com/vi/1PhPYr_9zRY/default.jpg             False
41410  https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg             False
41412  https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg             False
41413  https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg             False
41414  https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg             False

      ratings_disabled video_error_or_removed  \
0                False                  False
1                False                  False
2                False                  False
3                False                  False
4                False                  False
...                ...                    ...
41409            False                  False
41410            False                  False
41412            False                  False
41413            False                  False
41414            False                  False

                                             description
0      SHANTELL'S CHANNEL - https://www.youtube.com/s...
1      One year after the presidential election, John...
2      WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3      Today we find out if Link is a Nickelback amat...
4      I know it's been a while since we did this sho...
...                                                  ...
41409  BTS with the PPS, the puppies. These adorable ...
41410     The Cat Who Caught the Laser - Aaron's Animals
41412  I had so much fun transforming Safiyas hair in...
41413  How Black Panther Should Have EndedWatch More ...
41414  Call of Duty: Black Ops 4 Multiplayer raises t...

[40379 rows x 16 columns]

In [7]:
df_numerci_comlumn=df._get_numeric_data()
df_numerci_comlumn

       category_id       views     likes  dislikes  comment_count
0             22.0    748374.0   57527.0    2966.0        15954.0
1             24.0   2418783.0   97185.0    6146.0        12703.0
2             23.0   3191434.0  146033.0    5339.0         8181.0
3             24.0    343168.0   10172.0     666.0         2146.0
4             24.0   2095731.0  132235.0    1989.0        17518.0
...            ...         ...       ...       ...            ...
41409         22.0   8259128.0  645888.0    4052.0        62610.0
41410         15.0   1685609.0   38160.0    1385.0         2657.0
41412         24.0   1066451.0   48068.0    1032.0         3992.0
41413          1.0   5660813.0  192957.0    2846.0        13088.0
41414         20.0  10306119.0  357079.0  212976.0       144795.0

[40379 rows x 5 columns]

In [8]:
liste =df_numerci_comlumn.columns.tolist() 
print(liste)
for x in liste: 
    print(x+' '+str(df[x].mean()))

['category_id', 'views', 'likes', 'dislikes', 'comment_count']
category_id 19.94425320092127
views 2370838.716833007
likes 74616.77275316378
dislikes 3508.1219693404987
comment_count 8287.396196042497

In [9]:
for x in liste:
    print(x+' '+str(df[x].median()))

category_id 24.0
views 689597.0
likes 18371.0
dislikes 637.0
comment_count 1874.0

In [10]:
for x in liste:
    print(x+' '+str(df[x].std()))
# c'est la standard deviation

category_id 7.594849923157311
views 7428515.361046633
likes 229617.24377897754
dislikes 23174.860675471537
comment_count 34316.04573401493

In [11]:
df.quantile([.1, .25, .5, .75], axis = 1)

,0,1,2,3,4,5,6,7,8,9,...,41404,41405,41406,41407,41408,41409,41410,41412,41413,41414
0.10,1199.6,2472.8,2149.4,280.8,810.0,221.2,802.4,328.0,48.2,560.2,...,15751.2,1672.4,932.4,328.4,6403.2,1634.0,563.0,427.2,1139.0,57930.0
0.25,2966.0,6146.0,5339.0,666.0,1989.0,511.0,1970.0,778.0,119.0,1363.0,...,39363.0,4166.0,2295.0,806.0,15993.0,4052.0,1385.0,1032.0,2846.0,144795.0
0.50,15954.0,12703.0,8181.0,2146.0,17518.0,1434.0,2445.0,3432.0,340.0,2368.0,...,42833.0,15169.0,2861.0,1591.0,52432.0,62610.0,2657.0,3992.0,13088.0,212976.0
0.75,57527.0,97185.0,146033.0,10172.0,132235.0,9763.0,15993.0,23663.0,3543.0,12654.0,...,628861.0,210802.0,46351.0,45128.0,676467.0,645888.0,38160.0,48068.0,192957.0,357079.0

In [12]:
df.quantile([.1, .25, .5, .75], axis = 0) 
#quartiles of each numerical variable within this dataset

      category_id      views    likes  dislikes  comment_count
0.10         10.0    73304.2   1210.8      60.0          165.0
0.25         17.0   247076.0   5621.5     205.0          623.0
0.50         24.0   689597.0  18371.0     637.0         1874.0
0.75         25.0  1834912.5  55672.0    1948.0         5787.0

In [13]:
df_numerci_comlumn.quantile([.1, .25, .5, .75], axis = 0) 
# i can also do this since i did the filter of the numerical columns

      category_id      views    likes  dislikes  comment_count
0.10         10.0    73304.2   1210.8      60.0          165.0
0.25         17.0   247076.0   5621.5     205.0          623.0
0.50         24.0   689597.0  18371.0     637.0         1874.0
0.75         25.0  1834912.5  55672.0    1948.0         5787.0

In [14]:
df['sales_zscore']=(df.NA_sales-df.NA_sales.mean())/df.NA_sales.std()

AttributeError: 'DataFrame' object has no attribute 'NA_sales'

In [16]:
df['likes_zscore']=(df.likes-df.likes.mean())/df.likes.std()
df2=df[df['likes_zscore']>3]
print(df['likes_zscore'])

0       -0.074427
1        0.098286
2        0.311023
3       -0.280662
4        0.250932
           ...
41409    2.487928
41410   -0.158772
41412   -0.115622
41413    0.515380
41414    1.230144
Name: likes_zscore, Length: 40379, dtype: float64

In [17]:
print(df2)
# ci-dessous les outliers de la colone'likes' dans notre dataset

          video_id trending_date  \
32     n1WpP7iowLc      17.14.11
73     2Vv-BfVoq4g      17.14.11
152    9wg3v-01yKQ      17.14.11
301    n1WpP7iowLc      17.15.11
342    2Vv-BfVoq4g      17.15.11
...            ...           ...
41321  D_6QmL6rExk      18.14.06
41335  xTlNMmZKwpA      18.14.06
41341  1J76wN0TPI4      18.14.06
41362  nQySbNGu4g0      18.14.06
41391  QgOXIEhHU1Y      18.14.06

                                                   title    channel_title  \
32            Eminem - Walk On Water (Audio) ft. Beyoncé       EminemVEVO
73           Ed Sheeran - Perfect (Official Music Video)       Ed Sheeran
152                                  Harry Styles - Kiwi  HarryStylesVEVO
301           Eminem - Walk On Water (Audio) ft. Beyoncé       EminemVEVO
342          Ed Sheeran - Perfect (Official Music Video)       Ed Sheeran
...                                                  ...              ...
41321  BTS (방탄소년단) 'FAKE LOVE' Official MV (Extended ...          ibighit
41335  Cardi B, Bad Bunny & J Balvin - I Like It [Off...          Cardi B
41341  Sanju | Official Trailer | Ranbir Kapoor | Raj...     FoxStarHindi
41362  [CHOREOGRAPHY] BTS (방탄소년단) 'FAKE LOVE' Dance P...        BANGTANTV
41391  Diplo, French Montana & Lil Pump ft. Zhavia - ...            Diplo

       category_id              publish_time  \
32            10.0  2017-11-10T17:00:03.000Z
73            10.0  2017-11-09T11:04:14.000Z
152           10.0  2017-11-08T13:00:01.000Z
301           10.0  2017-11-10T17:00:03.000Z
342           10.0  2017-11-09T11:04:14.000Z
...            ...                       ...
41321         10.0  2018-06-01T15:00:01.000Z
41335         10.0  2018-05-29T14:05:10.000Z
41341         24.0  2018-05-30T07:51:32.000Z
41362         10.0  2018-05-27T11:00:03.000Z
41391         10.0  2018-05-21T14:12:22.000Z

                                                    tags       views  \
32     Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...  17158531.0
73     edsheeran|"ed sheeran"|"acoustic"|"live"|"cove...  33523622.0
152                 Columbia|"Harry Styles"|"Kiwi"|"Pop"   9632678.0
301    Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...  20539417.0
342    edsheeran|"ed sheeran"|"acoustic"|"live"|"cove...  39082222.0
...                                                  ...         ...
41321  BIGHIT|"빅히트"|"방탄소년단"|"BTS"|"BANGTAN"|"방탄"|"fak...  12709520.0
41335  Cardi B|"I Like It"|"Invasion of Privacy"|"Bad...  94254507.0
41341  Sanju|"Official Trailer"|"sanju official trail...  40714581.0
41362  방탄소년단|"BTS"|"BANGTAN"|"HIPHOP"|"랩몬스터"|"RapMons...  11381059.0
41391  Welcome to the party|"Diplo"|"Lil Pump"|"Frenc...  40087764.0

           likes  dislikes  comment_count  \
32      787419.0   43420.0       125882.0
73     1634124.0   21082.0        85067.0
152     810895.0   16139.0        59473.0
301     840642.0   47715.0       124236.0
342    1721383.0   23137.0        90352.0
...          ...       ...            ...
41321  1817699.0   11949.0       156793.0
41335  1816753.0  102474.0       101077.0
41341   778513.0   30866.0        76944.0
41362  1141726.0    4696.0        69934.0
41391   835657.0   25283.0        38305.0

                                       thumbnail_link comments_disabled  \
32     https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg             False
73     https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg             False
152    https://i.ytimg.com/vi/9wg3v-01yKQ/default.jpg             False
301    https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg             False
342    https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg             False
...                                               ...               ...
41321  https://i.ytimg.com/vi/D_6QmL6rExk/default.jpg             False
41335  https://i.ytimg.com/vi/xTlNMmZKwpA/default.jpg             False
41341  https://i.ytimg.com/vi/1J76wN0TPI4/default.jpg             False
41362  https://i.ytimg.com/vi/nQySbNGu4g0/default.jpg             False
41391  https://i.ytimg.com/vi/QgOXIEhHU1Y/default.jpg             False

      ratings_disabled video_error_or_removed  \
32               False                  False
73               False                  False
152              False                  False
301              False                  False
342              False                  False
...                ...                    ...
41321            False                  False
41335            False                  False
41341            False                  False
41362            False                  False
41391            False                  False

                                             description  likes_zscore
32     Eminem's new track Walk on Water ft. Beyoncé i...      3.104306
73     🎧: https://ad.gt/yt-perfect\n💰: https://atlant...      6.791769
152    Harry Styles' self-titled debut album is avail...      3.206546
301    Eminem's new track Walk on Water ft. Beyoncé i...      3.336096
342    🎧: https://ad.gt/yt-perfect\n💰: https://atlant...      7.171788
...                                                  ...           ...
41321  BTS (방탄소년단) 'FAKE LOVE' Official MV (Extended ...      7.591251
41335  Cardi B, Bad Bunny & J Balvin - I Like It from...      7.587132
41341  Few lives in our times are as dramatic and eni...      3.065520
41362  BTS Official Homepage http://bts.ibighit.comBT...      4.647339
41391  Official Video | Diplo, French Montana & Lil P...      3.314386

[567 rows x 17 columns]

In [18]:
df['category_id_zscore']=(df.category_id-df.category_id.mean())/df.category_id.std()
df3=df[df['category_id_zscore']>3]
print(df['category_id_zscore'])

0        0.270676
1        0.534013
2        0.402345
3        0.534013
4        0.534013
           ...
41409    0.270676
41410   -0.651001
41412    0.534013
41413   -2.494355
41414    0.007340
Name: category_id_zscore, Length: 40379, dtype: float64

In [ ]:
print(df3)

In [19]:
df['views_zscore']=(df.views-df.views.mean())/df.views.std()
df4=df[df['views_zscore']>3]
print(df['views_zscore'])

0       -0.218410
1        0.006454
2        0.110466
3       -0.272958
4       -0.037034
           ...
41409    0.792660
41410   -0.092243
41412   -0.175592
41413    0.442884
41414    1.068219
Name: views_zscore, Length: 40379, dtype: float64

In [ ]:
print(df4)

In [24]:
df['dislikes_zscore']=(df.dislikes-df.dislikes.mean())/df.dislikes.std()
df5=df[df['dislikes_zscore']>3]
print(df['dislikes_zscore'])

0       -0.023393
1        0.113825
2        0.079003
3       -0.122638
4       -0.065550
           ...
41409    0.023468
41410   -0.091613
41412   -0.106845
41413   -0.028571
41414    9.038582
Name: dislikes_zscore, Length: 40379, dtype: float64

In [25]:
print(df5)

          video_id trending_date  \
1490   TyHvyGVs42U      17.21.11
1728   TyHvyGVs42U      17.22.11
1974   TyHvyGVs42U      17.23.11
2175   TyHvyGVs42U      17.24.11
2389   TyHvyGVs42U      17.25.11
...            ...           ...
41275  GnGPAYvve1A      18.14.06
41290  J2HytHu5VBI      18.14.06
41335  xTlNMmZKwpA      18.14.06
41342  Tn8hOPeAnIM      18.14.06
41414  ooyjaVdt-jA      18.14.06

                                                   title      channel_title  \
1490           Luis Fonsi, Demi Lovato - Échame La Culpa      LuisFonsiVEVO
1728           Luis Fonsi, Demi Lovato - Échame La Culpa      LuisFonsiVEVO
1974           Luis Fonsi, Demi Lovato - Échame La Culpa      LuisFonsiVEVO
2175           Luis Fonsi, Demi Lovato - Échame La Culpa      LuisFonsiVEVO
2389           Luis Fonsi, Demi Lovato - Échame La Culpa      LuisFonsiVEVO
...                                                  ...                ...
41275                         #ProudToCreate: Pride 2018  YouTube Spotlight
41290                                        we broke up       David Dobrik
41335  Cardi B, Bad Bunny & J Balvin - I Like It [Off...            Cardi B
41342  Erika Costell - Chitty Bang ft. Jake Paul (Off...      Erika Costell
41414  Official Call of Duty®: Black Ops 4 — Multipla...       Call of Duty

       category_id              publish_time  \
1490          10.0  2017-11-17T05:00:01.000Z
1728          10.0  2017-11-17T05:00:01.000Z
1974          10.0  2017-11-17T05:00:01.000Z
2175          10.0  2017-11-17T05:00:01.000Z
2389          10.0  2017-11-17T05:00:01.000Z
...            ...                       ...
41275         24.0  2018-06-07T19:08:51.000Z
41290         22.0  2018-06-05T04:54:35.000Z
41335         10.0  2018-05-29T14:05:10.000Z
41342         22.0  2018-05-29T21:00:01.000Z
41414         20.0  2018-05-17T17:09:38.000Z

                                                    tags       views  \
1490   Luis|"Fonsi"|"Demi"|"Lovato"|"Échame"|"La"|"Cu...  47078714.0
1728   Luis|"Fonsi"|"Demi"|"Lovato"|"Échame"|"La"|"Cu...  56843038.0
1974   Luis|"Fonsi"|"Demi"|"Lovato"|"Échame"|"La"|"Cu...  68997838.0
2175   Luis|"Fonsi"|"Demi"|"Lovato"|"Échame"|"La"|"Cu...  80605857.0
2389   Luis|"Fonsi"|"Demi"|"Lovato"|"Échame"|"La"|"Cu...  91552137.0
...                                                  ...         ...
41275  #Pride|"#ProudToCreate"|"#ProudToBe"|"#ProudTo...   1329391.0
41290  lizzza|"lizza"|"liza"|"koshy"|"david"|"dobrik"...  33627806.0
41335  Cardi B|"I Like It"|"Invasion of Privacy"|"Bad...  94254507.0
41342  erika costell|"team 10"|"erika team 10"|"erika...   7854612.0
41414      call of duty|"cod"|"activision"|"Black Ops 4"  10306119.0

           likes  dislikes  comment_count  \
1490   1763393.0   78228.0       101453.0
1728   1904852.0   87444.0       108084.0
1974   2048049.0   96281.0       115819.0
2175   2173715.0  104121.0       122511.0
2389   2277789.0  110752.0       128071.0
...          ...       ...            ...
41275    48386.0  126931.0        90365.0
41290  2032463.0  101678.0       320194.0
41335  1816753.0  102474.0       101077.0
41342   185632.0  104831.0        52364.0
41414   357079.0  212976.0       144795.0

                                       thumbnail_link comments_disabled  \
1490   https://i.ytimg.com/vi/TyHvyGVs42U/default.jpg             False
1728   https://i.ytimg.com/vi/TyHvyGVs42U/default.jpg             False
1974   https://i.ytimg.com/vi/TyHvyGVs42U/default.jpg             False
2175   https://i.ytimg.com/vi/TyHvyGVs42U/default.jpg             False
2389   https://i.ytimg.com/vi/TyHvyGVs42U/default.jpg             False
...                                               ...               ...
41275  https://i.ytimg.com/vi/GnGPAYvve1A/default.jpg             False
41290  https://i.ytimg.com/vi/J2HytHu5VBI/default.jpg             False
41335  https://i.ytimg.com/vi/xTlNMmZKwpA/default.jpg             False
41342  https://i.ytimg.com/vi/Tn8hOPeAnIM/default.jpg             False
41414  https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg             False

      ratings_disabled video_error_or_removed  \
1490             False                  False
1728             False                  False
1974             False                  False
2175             False                  False
2389             False                  False
...                ...                    ...
41275            False                  False
41290            False                  False
41335            False                  False
41342            False                  False
41414            False                  False

                                             description  likes_zscore  \
1490   “Échame La Culpa” disponible ya en todas las p...      7.354745
1728   “Échame La Culpa” disponible ya en todas las p...      7.970809
1974   “Échame La Culpa” disponible ya en todas las p...      8.594443
2175   “Échame La Culpa” disponible ya en todas las p...      9.141727
2389   “Échame La Culpa” disponible ya en todas las p...      9.594977
...                                                  ...           ...
41275  You don't just imagine a better future – you c...     -0.114237
41290  Sorry we didn't let you know sooner... we want...      8.526564
41335  Cardi B, Bad Bunny & J Balvin - I Like It from...      7.587132
41342  The official music video for Chitty Bang! List...      0.483479
41414  Call of Duty: Black Ops 4 Multiplayer raises t...      1.230144

       category_id_zscore  views_zscore  dislikes_zscore
1490            -1.309342      6.018413         3.224178
1728            -1.309342      7.332851         3.621850
1974            -1.309342      8.969087         4.003169
2175            -1.309342     10.531717         4.341466
2389            -1.309342     12.005265         4.627595
...                   ...           ...              ...
41275            0.534013     -0.140196         5.325723
41290            0.270676      4.207700         4.236050
41335           -1.309342     12.369049         4.270398
41342            0.270676      0.738206         4.372103
41414            0.007340      1.068219         9.038582

[242 rows x 20 columns]

In [ ]:
df['comment_count_zscore']=(df.comment_count-df.comment_count.mean())/df.comment_count.std()
df6=df[df['comment_count_zscore']>3]
print(df['comment_count_zscore'])

In [ ]:
print(df6)

In [ ]:
print(df.columns.tolist())
# we print the columns

In [ ]:
y=pd.get_dummies(df.likes,prefix='likes') 
print(y)

In [ ]:
data_clean=df[df['likes_zscore']<3.all(axis=1)]
# i tried to do an opposite operation of the previous

In [ ]:
#How we can remove the outliers ?!!
#what do you want to say by unique categories ?!!

In [20]:
print(pd.unique(df['views']))
#

[  748374.  2418783.  3191434. ...  1066451.  5660813. 10306119.]

In [26]:
df['views'].unique()
# show the list of the unique categories values of the column views

array([  748374.,  2418783.,  3191434., ...,  1066451.,  5660813.,
       10306119.])

In [21]:
liste2=df.columns.tolist()
for x in liste2:
    print(len(pd.unique(df[x])))
# show how many unique categorie exsite in each column

6254
205
6357
2142
16
6172
6008
39927
29664
8460
13684
6255
2
2
2
6901
29664
16
39927

In [23]:
liste2=df.columns.tolist()
s=0
for x in liste2:
    s = s + len(pd.unique(df[x]))
print(s)

201658

In [ ]:
#Is there any column that we need to adjust its type ?
# yeah, we still have other columns with categorical values that we need to change the value's type of their variables